{% extends "acc_profile/base.html" %}

{% block content %}
<div class="container">

    <div class="table-responsive text-nowrap">
    <h2>Order Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Item title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Total Item Price</th>
        </tr>
        </thead>
        <tbody>
        {% for order_item in object.products.all %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ order_item.product.name }}</td>
            <td>{{ order_item.product.price }}</td>
            <td>
                <a href="{% url 'remove_single_from_cart' order_item.product.id %}"><i class="fas fa-minus mr-2"></i></a>
                {{ order_item.quantity }}
                <a href="{% url 'add-to-cart' order_item.product.id %}"><i class="fas fa-plus ml-2"></i></a>
            </td>
            <td>
                    Rs{{ order_item.get_total }}



            <td>
            
            <a style='color: red;' href="{% url 'remove-from-cart' order_item.product.id %}">
                <i class="fas fa-trash float-right"></i>
            </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>Your cart is empty</td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-primary float-right' href=' {% url "menu" %} '>Continue shopping</a>
            </td>
        </tr>
        {% endfor %}
        {% if object.get_cart_total %}
        <tr>
            <td colspan="4"><b>Order Total</b></td>
            <td><b>Rs{{ object.get_cart_total }}</b></td>
        </tr>
        <tr>
            <td colspan="5">
            <a class='btn btn-warning float-right ml-2' href='{% url "checkout" %}'>Proceed to checkout</a>
            <a class='btn btn-primary float-right' href='/'>Continue shopping</a>
            </td>
        </tr>
        {% endif %}

        
        </tbody>
    </table>

    </div>

    </div>
{%  endblock %}